.social-login
    button.social-login__naver
        span
            i.xi-naver-square
        |Continue with Naver
    button.social-login__kakao
        span
            i.xi-kakaotalk
        |Continue with Kakao
    button.social-login__google
        span
            i.xi-google
        |Continue with Google