.social-login
    button.social-login__naver
        a(href=routes.naver)
            span
                i.xi-naver-square
            |Continue with Naver
    button.social-login__kakao
        a(href=routes.kakao)
            span
                i.xi-kakaotalk
            |Continue with Kakao
    button.social-login__google
        a(href=routes.google)
            span
                i.xi-google
            |Continue with Google