.photo-detail__img {
  overflow: hidden;
  width: 100%;
}
.carousel__container {
  position: relative;
  width: 100vw;
  height: 100vw;
  background-color: $black;
  z-index: 150;
  //   position: absolute;
}
// .carousel__img-list {
//   position: absolute;
// }
.carousel__photo {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 100;
  transition: transform 0.5s;
  //, opacity 0.5s, z-index 0.5s;
}

// .carousel__photo.initial-photo,
.carousel__photo.active {
  opacity: 1;
  //   position: relative;
  z-index: 900;
}
.carousel__photo.prev {
  transform: translateX(-100%);
}
.carousel__photo.next {
  transform: translateX(100%);
}
.carousel__prev-i,
.carousel__next-i {
}
.carousel__prev-i {
  left: 0.5rem;
}
.carousel__next-i {
  right: 0.5rem;
}
.carousel__btn-hide {
  display: none;
}
.carousel__btn-show {
  position: absolute;
  color: red;
  font-size: 2rem;
  font-weight: 800;
  border-radius: 50%;
  border: 0.5rem solid red;
  top: 50%;
  transform: translateY(-50%);
  z-index: 910;
  display: block;
}
