.photo-detail__img,
.photo-block__img {
  overflow: hidden;
  width: 100%;
}
.img__carousel-container {
  position: relative;
  width: 100%;
  height: 100vw;
  background-color: $black;
  z-index: 150;
}

.carousel__photo {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 100;
  transition: transform 0.5s opacity 0.5s, z-index 0.5s;
}

.carousel__photo.active {
  opacity: 1;
  z-index: 900;
}
.carousel__photo.prev {
  transform: translateX(-100%);
  opacity: 0;
}
.carousel__photo.next {
  opacity: 0;
  transform: translateX(100%);
}
.carousel__prev-i {
  left: 1rem;
}
.carousel__next-i {
  right: 1rem;
}
.carousel__btn-hide {
  display: none;
}
.carousel__btn-show {
  position: absolute;
  color: $white;
  font-size: 1.5rem;
  font-weight: 800;
  border-radius: 50%;
  border: 0.2rem solid $white;
  opacity: 0.7;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20000;
  display: block;
}
