.form__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    // height: 60%;
    background-color: $red;
    border-radius: 10px;
    input[type="submit"] {
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: $black;
      color: $red;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
