.header {
  font-weight: 600;
  font-size: 1.4rem;
  border: 1px solid $gray;
  position: fixed;
  width: 100%;
  height: $headerHeight;
  z-index: 9;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  ul {
    display: flex;
    li:not(:last-child) {
      margin-right: 15px;
    }
  }
  .header__column {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
