.photoBlock {
  .photoBlock__img img {
    width: 100%;
  }
  .photoBlock__info {
    display: flex;
    align-items: center;
  }
  .photoBlock__info,
  .photoBlock__input,
  .photoBlock__comments-list,
  .info__comments-number {
    padding: 1rem 1.5rem;
  }
  .photoBlock__input form {
    display: flex;
    align-items: center;
    margin: 2rem 0;
  }
  .info__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .photo-description {
    width: 100%;
    font-size: 1.5rem;
    color: $white;
    font-weight: 700;
  }
  .info__comments-number {
    font-size: 1.2rem;
    color: $gray;
    font-weight: 800;
  }
}
.jsLikesBtns,
.jsBookmarkBtns {
  color: $white;
}
#jsLikesOverlay {
  color: $white;
  font-size: 10rem;
  position: absolute;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
// #jsLikesOverlay i {
//shape 깎아야함
//   box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.5);
// }
.jsShow {
  display: block;
}
.jsHide {
  display: none !important;
}
@keyframes fade-likes {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.likes-fade-out {
  animation: fade-likes 1s;
}

// DROPDOWN 에 관한 거 지금 HEADER에 있음

//TRUNCATE ellipsis text
// #jsTruncate {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }
