.photoBlock {
  .photoBlock__img img {
    width: 100%;
  }
  .photoBlock__info {
    display: flex;
    align-items: center;
  }
  .photoBlock__info,
  .photoBlock__input,
  .photoBlock__comments-list,
  .info__comments-number {
    padding: 1rem 1.5rem;
  }
  .photoBlock__input form {
    display: flex;
    align-items: center;
    margin: 2rem 0;
  }
  .author-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .photo-description {
    font-size: 1.5rem;
    color: $white;
    font-weight: 700;
  }
  .info__comments-number {
    font-size: 1.2rem;
    color: $gray;
    font-weight: 800;
    text-align: right;
  }
}
