include mixins/commentBlock.pug

block content
    .comment-list__header
        .header__column
            span 댓글
        .header__column
            i.xi-angle-left#jsGoBackPage
    .comment-list
        ul.comment-list__container
            #jsFakeBlock.hide-element
                if loggedUser
                    +commentBlock({
                        creatorId: loggedUser._id,
                        creatorAvatar: loggedUser.avatarUrl,
                        creatorName: loggedUser.name,
                        text: "",
                        _id: "",
                        createdAt: ""
                    })
            each item in photo.comments.reverse()
                +commentBlock({
                    creatorId: item.creatorId,
                    creatorAvatar: item.creatorAvatar,
                    creatorName: item.creatorName,
                    text: item.text,
                    _id: item._id,
                    createdAt: item.createdAt
                })
        .comment-list__form
            if loggedUser
                form#jsAddComment
                    img.author--avatar(src=loggedUser.avatarUrl.includes("http") ? loggedUser.avatarUrl : `../../${loggedUser.avatarUrl}`)#jsAvatarElement
                    input(type="text", placeholder="Add a Comment")