extends layouts/main.pug

block content
    .edit-photo
        .img__carousel-container
            a.carousel__img-list(data-url=photo.id)
                each item in photo.fileUrl
                    img.carousel__photo(src=`../../${item}`, alt="Photo")
            i.carousel__prev-i.xi-arrow-left.carousel__btn-hide
            i.carousel__next-i.xi-arrow-right.carousel__btn-show
        form(action=routes.editPhoto(photo.id), method="post")
            textarea(placeholder="Description", name="description")=photo.description
            input.edit-photo-input(type="submit", value="Update")