extends layouts/main.pug
include mixins/photoBlock

block content
    .home__main
        if photos
            each item in photos
                +photoBlock({
                    id: item.id,
                    fileUrl: item.fileUrl,
                    description: item.description,
                    avatarUrl: item.creator.avatarUrl,
                    creatorId: item.creator._id,
                    creator: item.creator.name,
                    comments: item.comments,
                    location: item.location,
                })