extends layouts/main.pug
include mixins/photoBlock

block content
    .photos__container
        each item in photos
            +photoBlock({
                id: item.id,
                fileUrl: item.fileUrl,
                description: item.description
            })