extends layouts/main.pug

block content
    .photo__container
        img(src=`/${photo.fileUrl}`, alt="Photo")
    .photo__info
        a(href=routes.editPhoto(photo.id)) Edit
        p.photo__description=photo.description