extends layouts/main.pug
include mixins/photoBlock
//-TO DO : 커맨트 리스트, fake 커맨트 추가
block content
    .search__header
        h3 Searching For: #{searchingBy}
    .search__content
        if photos.length === 0
            h5 No Photos Found
        each item in photos
            +photoBlock({
                    id: item.id,
                    fileUrl: item.fileUrl,
                    description: item.description,
                    avatarUrl: item.creator.avatarUrl,
                    creatorId: item.creator._id,
                    creator: item.creator.name,
                    comments: item.comments,
                    location: item.location,
                    likes: item.likes
            })