extends layouts/main.pug

block content
    .form__container.upload
        form#jsUploadFile(action=`/photos${routes.upload}`, method="post", enctype="multipart/form-data")
            label(for="file") 
                i#jsUploadIcon.xi-camera-o
                span Click to choose photo
            #jsFileList.upload__file-preview
            input(type="file", id="file", name="file", required=true, accept="image/*")
            textarea(placeholder="description", name="description", required=true, cols="37", rows="10")
            input(type="submit", value="Upload Photo")