extends layouts/main.pug

block content
    .user-profile
        .user-profile__header
            img.avatar(src=user.avatarUrl)
            h4.profile__username=user.name
        if user.id === loggedUser.id
            .user-profile__btns
                a(href=`/users${routes.editProfile}`)
                    button Edit Profile
                if !loggedUser.googleId||loggedUser.kakaoId||loggedUser.naverId
                    a(href=`/users${routes.changePassword}`)
                        button Change Password