//photo Block
.home__main,
.like-list__container,
.photo-detail-container {
  padding: 5.5rem;

  .img__carousel-container {
    height: 50vw;
  }
  .photo-block {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 2rem 10rem;
    .photo-block__info,
    .photo-block__description {
      padding: 1.5rem;
    }
    .carousel__btn-show {
      font-size: 3rem;
    }
  }
}
//user photos
.user-photos {
  .user-photos__photo-container {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    grid-template-rows: repeat(auto-fill, minmax(30rem, 1fr));
    .photo-container__photo {
      height: 30rem;
    }
  }
  .user-photos__photo-container {
    padding: 2rem 10rem;
  }
}

//HEADER
.header {
  grid-template-columns: auto 1fr auto;
  .header__column li {
    margin-left: 1.5rem;
  }
  form {
    width: 60%;
  }
  input {
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.3rem;
  }
}

//comment modal
.comment-modal {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 80%;
  height: 80%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  .comment-modal__photo {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    .carousel__img-list {
      height: 100%;
    }
  }
  .comment-modal__comment {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .comment-list__header {
      .header__column:first-child {
        right: 1rem;
      }
      i::before {
        display: none;
      }
      i::after {
        font-family: xeicon;
        content: "\e925";
      }
    }
    .comment-list__form {
      z-index: 999999999999999;
    }
    #jsAddComment {
      width: 50%;
    }
  }
}
//JOIN

.join-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  form {
    height: 50%;
    width: 50%;
  }
  .social-login {
    height: 25%;
  }
  button {
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
  }
  input[type="submit"] {
    border-radius: 0.4rem;
  }
}
