extends layouts/main.pug

block content
    .form-container.change-password-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="text", autocomplete="username", value=loggedUser.name)
            input(type="password", name="oldPassword", placeholder="Current Password", autocomplete="current-password")
            input(type="password", name="newPassword", placeholder="New Password", autocomplete="new-password")
            input(type="password", name="newPassword1", placeholder="Verify New Password", autocomplete="new-password")
            input(type="submit", value="Change Password")