include mixins/commentBlock.pug

block content
    .comment-modal__photo
        a.carousel__img-list(data-url=photo.id)
            each item in photo.fileUrl
                img.carousel__photo(src=item, alt="Photo")
        i.carousel__prev-i.xi-arrow-left.carousel__btn-hide
        i.carousel__next-i.xi-arrow-right.carousel__btn-show
    .comment-modal__comment
        .comment-list__header
            .header__column
                i.xi-angle-left#jsGoBackPage
            .header__column
                span 댓글
        .comment-list
            ul.comment-list__container
                #jsFakeBlock.hide-element
                    if loggedUser
                        +commentBlock({
                            creatorId: loggedUser._id,
                            creatorName: loggedUser.name,
                            text: "",
                            _id: "",
                            createdAt: "",
                            creatorAvatar: loggedUser.avatarUrl
                        })
                each item in photo.comments
                    +commentBlock({
                        creatorId: item.creatorId,
                        creatorAvatar: item.creatorAvatar,
                        creatorName: item.creatorName,
                        text: item.text,
                        _id: item._id,
                        createdAt: item.createdAt
                    })
        .comment-list__form
            if loggedUser
                form#jsAddComment
                    img.author--avatar(src=loggedUser.avatarUrl)#jsAvatarElement
                    input(type="text", placeholder="Add a Comment")
                    input(type="submit", value="게시")