.comment-list {
  background-color: $black;
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 19999;
  // overflow: hidden;
  // position: fixed;
  top: 0;

  .comment-list__header {
    width: 100%;
    height: $headerHeight;

    z-index: 20000;
    background-color: $black;
  }
  .comment-list {
    padding-top: $headerHeight;
    width: 100%;
    height: 100%;
  }
  .photo-block__input form {
    z-index: 10000;
    display: flex;
    align-items: center;
    margin: 2rem 0;
  }
}
