.edit-photo {
  padding-top: $headerHeight;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    object-fit: cover;
  }
  .form-container {
    position: relative;
    margin: 50px;
    height: 70vh;
    background-color: $red;
    border-radius: 10px;
  }
  .form-container__link--delete {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 600;
  }
  textarea {
    width: 100%;
    margin-top: 30px;
    align-self: flex-end;
  }
  input[type="submit"] {
    background-color: $black;
    color: $white;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}
