.photo-detail__container {
  padding-top: $headerHeight;

  .photo-detail__img img {
    width: 100%;
  }
  .photo-detail__info {
    display: flex;
    align-items: center;
    color: $white;
  }
  .photo-detail__input,
  .photo-detail__info {
    padding: 1rem 1.5rem;
  }
  .add-comment-form {
    margin: 2rem 0;
    display: flex;
    align-items: center;
  }
  .photo-detail__info {
    padding: 20px 10px;
    .photo__author {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        display: flex;
        align-items: center;
      }
    }
    .author-avatar {
      margin-right: 10px;
    }
  }
  .photo__description {
    padding: 10px;
    word-break: break-all;
  }
  .photo__comments {
    text-align: right;
  }

  .author-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .photo-description {
    font-size: 1.5rem;
    color: $white;
    font-weight: 700;
  }
  .info__comments-number {
    font-size: 1.2rem;
    font-weight: 800;
    text-align: right;
  }
}

.photo__coments-list {
  display: flex;
  flex-direction: column;
}
