.form__container.upload-container {
  form {
    justify-content: space-around;
    label {
      text-transform: uppercase;
      font-weight: 600;
      i {
        margin-right: 5px;
      }
    }
    input[type="file"] {
      display: none;
    }
    .upload__preview {
      height: 60%;
      img {
        width: 80%;
        max-height: 100%;
      }
    }
  }
}
