.user-profile {
  padding-top: $headerHeight;
  width: 100%;
  height: 100%;
  background-color: $black;
}
.user-profile__header {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  background-color: $red;
  .header__user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    .profile--avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: $white;
      margin: 0 0 1rem 0;
    }
    .profile--name {
      font-size: 1.2rem;
      font-weight: 800;
    }
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    a:not(:nth-child(3)) {
      margin-bottom: 0.5rem;
    }
  }
  .user-profile__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  button {
    background-color: $black;
    color: $red;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 0.5rem;
    width: 100%;
  }
}
.user-profile__photo-container {
  width: 100%;
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  .photo-container__photo {
    position: relative;
    background-color: $black;
  }
  img {
    object-fit: cover;
    max-width: 100%;
  }
  .photo__likes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: 600;
  }
}
