.user-profile__wrapper {
  padding: $headerHeight 4rem 4rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-profile__header {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  background-color: $red;
  border-radius: 1rem;
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    .profile-avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: $white;
    }
  }
  .user-profile__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  button {
    background-color: $black;
    color: $red;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 1rem;
  }
}
.user-profile__photos {
  width: 100%;
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  .profile__img {
    position: relative;
    background-color: $black;
  }
  img {
    object-fit: cover;
    max-width: 100%;
  }
  .photo-comments-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: 600;
    .number {
      width: 100%;
      height: 100%;
      background-color: $black;
      display: none;
    }
    &:hover .number {
      display: flex;
    }
  }
}
