<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no, maximun-scale=1, width=device-width")
        link(rel="stylesheet", href="/static/styles/styles.css", type='text/css')
        link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
        script(src="/static/js/main.js")